<!DOCTYPE html>
<html>
<title>The Restaurant Repo</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<head>
  <link rel="icon" href="/static/logo.ico">
  <link href="https://fonts.googleapis.com/css?family=Muli&display=swap" rel="stylesheet">
</head>
<style>
body {font-family: "Muli", Sans-Serif;}
h1, h2, h3, h4, h5, h6 {
  font-family: "Muli";
  letter-spacing: 2px;
}
</style>
<body>

<!-- Navbar (sit on top) -->
<div class="w3-top">
  <div class="w3-bar w3-white w3-padding w3-card" style="letter-spacing:4px;">
    <a href="#home" class="w3-bar-item w3-button"><img src= "/static/logo.png" style = "max-width: 30px" />The Restaurant Repo</a>
    <!-- Right-sided navbar links. Hide them on small screens -->
    <div class="w3-right w3-hide-small">
      <a href="#detailed" class="w3-bar-item w3-button">Detailed View</a>
      <a href="#modification" class="w3-bar-item w3-button">Modify Search</a>
      <a href="#about" class="w3-bar-item w3-button">About</a>
    </div>
  </div>
</div>

<!-- Map -->
<header class="w3-display-container w3-content" style="max-width:1600px;min-width:1000px" id="home">
  <div style = "width:40%">
    {{googlemap("mapper",
      lat = latitude,
      lng = longitude,
      markers = [
      {'icon' : 'http://maps.google.com/mapfiles/ms/icons/red-dot.png',
        'lat': latitude,
        'lng': longitude,
        'infobox' : "Current Location"
      },
      {'icon': 'http://maps.google.com/mapfiles/ms/icons/green-dot.png',
        'lat': r0.lat,
        'lng': r0.long,
      'infobox': r0.name},
      {'icon': 'http://maps.google.com/mapfiles/ms/icons/blue-dot.png',
        'lat': r1.lat,
        'lng': r1.long,
      'infobox': r1.name},
      {'icon': 'http://maps.google.com/mapfiles/ms/icons/yellow-dot.png',
        'lat': r2.lat,
        'lng': r2.long,
      'infobox': r2.name},
      {'icon': 'http://maps.google.com/mapfiles/ms/icons/purple-dot.png',
        'lat': r3.lat,
        'lng': r3.long,
      'infobox': r3.name},
      {'icon': 'http://maps.google.com/mapfiles/ms/icons/orange-dot.png',
        'lat': r4.lat,
        'lng': r4.long,
      'infobox': r4.name},
      ],
      style="height:430px;width:430px;margin:60px;display:inline-block;")}}
  </div>
  <!-- Table to the right of the map  -->
  <div class="w3-display-topright w3-padding-large " style = "width:60%">
    <h1 class="w3-xlarge">Best Restaurants In Your Area</h1>
    <table class="w3-table w3-bordered w3-large">
    <tr>
      <th>Restaurant</th>
      <th>Category</th>
      <th>Phone Number</th>
    </tr>
    <tr>
      <td><img src = "http://maps.google.com/mapfiles/ms/icons/green-dot.png"><a href = {{r0.url}}>{{r0.name}}</a></td>
      <td>{{r0.category}}</td>
      <td>{{r0.phoneNum}}</td>
    </tr>
    <tr>
      <td><img src = "http://maps.google.com/mapfiles/ms/icons/blue-dot.png"><a href = {{r1.url}}>{{r1.name}}</a></td>
      <td>{{r1.category}}</td>
      <td>{{r1.phoneNum}}</td>
    </tr>
    <tr>
      <td><img src = "http://maps.google.com/mapfiles/ms/icons/yellow-dot.png"><a href = {{r2.url}}>{{r2.name}}</a></td>
      <td>{{r2.category}}</td>
      <td>{{r2.phoneNum}}</td>
    </tr>
    <tr>
      <td><img src = "http://maps.google.com/mapfiles/ms/icons/purple-dot.png"><a href = {{r3.url}}>{{r3.name}}</a></td>
      <td>{{r3.category}}</td>
      <td>{{r3.phoneNum}}</td>
    </tr>
    <tr>
      <td><img src = "http://maps.google.com/mapfiles/ms/icons/orange-dot.png"><a href = {{r3.url}}>{{r4.name}}</a></td>
      <td>{{r4.category}}</td>
      <td>{{r4.phoneNum}}</td>
    </tr>
  </table>
</header>

<!-- Page content -->
<div class="w3-content" style="max-width:1100px">

  <!-- Detailed Results  -->
  <div class="w3-row w3-padding-20" id="detailed">

      <h2 class="w3-center">Detailed Results</h2><br>
    <table class="w3-table w3-bordered w3-xlarge w3-centered">
      <tr>
        <td>Image</td>
        <td>Name</a></td>
        <td>Category</td>
        <td>Phone Number</td>
        <td>Rating (Out of 5)</td>
        <td>Number of Reviews</td>
        <td>Distance (miles)</td>
      </tr>
      <tr>
        <td><img src = {{r0.imgUrl}} style="width:100%;max-width:250px;max-height:250px;padding:20px"></td>
        <td><a href = {{r0.url}}>{{r0.name}}</a></td>
        <td>{{r0.category}}</td>
        <td>{{r0.phoneNum}}</td>
        <td>{{r0.rate}}</td>
        <td>{{r0.revNum}}</td>
        <td>{{r0.distance}}</td>
      </tr>
      <tr>
        <td><img src = {{r1.imgUrl}} style="width:100%;max-width:250px;max-height:250px;padding:20px"></td>
        <td><a href = {{r1.url}}>{{r1.name}}</a></td>
        <td>{{r1.category}}</td>
        <td>{{r1.phoneNum}}</td>
        <td>{{r1.rate}}</td>
        <td>{{r1.revNum}}</td>
        <td>{{r1.distance}}</td>
      </tr>
      <tr>
        <td><img src = {{r2.imgUrl}} style="width:100%;max-width:250px;max-height:250px;padding:20px"></td>
        <td><a href = {{r2.url}}>{{r2.name}}</a></td>
        <td>{{r2.category}}</td>
        <td>{{r2.phoneNum}}</td>
        <td>{{r2.rate}}</td>
        <td>{{r2.revNum}}</td>
        <td>{{r2.distance}}</td>
      </tr>
      <tr>
        <td><img src = {{r3.imgUrl}} style="width:100%;max-width:250px;max-height:250px;padding:20px"></td>
        <td><a href = {{r3.url}}>{{r3.name}}</a></td>
        <td>{{r3.category}}</td>
        <td>{{r3.phoneNum}}</td>
        <td>{{r3.rate}}</td>
        <td>{{r3.revNum}}</td>
        <td>{{r3.distance}}</td>
      </tr>
      <tr>
        <td><img src = {{r4.imgUrl}} style="width:100%;max-width:250px;max-height:250px;padding:20px"></td>
        <td><a href = {{r3.url}}>{{r4.name}}</a></td>
        <td>{{r4.category}}</td>
        <td>{{r4.phoneNum}}</td>
        <td>{{r4.rate}}</td>
        <td>{{r4.revNum}}</td>
        <td>{{r4.distance}}</td>
      </tr>
    </table>
    <form action = "/moreResults">
      <input class="w3-button w3-grey w3-block" type="submit" value="All Search Results">
    </form>
  <hr>

  <!-- Search Modification -->

  <div class="w3-row w3-padding-64" id="modification">

      <h1 class="w3-center">Focused Search</h1><br>

      <form action="/", method = "post">
        <div class="w3-quarter l5 w3-padding-large w3-large">
          Query: <input name = "query" required name="query" placeholder = "Hot Pot" class="w3-input w3-animate-input" type="text" style="width:50%">
        </div>
        <div class="w3-quarter l5 w3-padding-large w3-large">
          Location: <input name = "location" required name= "location" placeholder = "Dallas, Texas" class="w3-input w3-animate-input" type="text" style="width:50%">
        </div>
        <div class="w3-quarter l5 w3-padding-large w3-large">
          Max Distance (miles): <input name = "distance" required name="distance" placeholder = "10" class="w3-input w3-animate-input" type="text" style="width:50%">
        </div>
        <div class="w3-quarter l5 w3-padding-large w3-large">
          Price (1-5): <input name = "price" required name= "price" placeholder = "3" class="w3-input w3-animate-input" type="text" style="width:50%">
        </div>
      <input class="w3-button w3-grey w3-block" type="submit" value="Submit">
      </form>

  </div>

  <hr>

  <!-- About -->
  <div class="w3-container w3-padding-32" id="about">
    <h1><img src= "/static/logo.png" style = "max-width: 80px">About</h1><br>
    <p class="w3-text-blue-grey w3-large"><b>"Let food be thy medicine and medicine be thy food." - Hippocrates</b></p>
    <p>Finding a good restaurant shouldn't be hard. The Restaurant Repo is a website created to simplify the search for restaurants by automatically recommending restaurants in your vicinity using IP geolocation. This search can be manually adjusted using the <a href="#modification">Modify Search</a> feature.</p>
    <p>The <strong>Yelp API</strong> is used to search for restaruants using location and other queries entered by the user. </p>
    <p><strong>Google Maps API</strong> is used to display the restaurants on the map. (Hint: click the markers on the map)</p>
    <p><strong>Python</strong> and the <strong>Flask framework</strong> are used for API calls and rendering of templates.</p>
    <p><strong>W3.CSS</strong> is used for styling</p>
    <p class ="w3-text-white w3-large"> "People who love to eat are always the best people." - Julia Child</p>
  </div>

<!-- End page content -->
</div>

<!-- Footer -->
<footer class="w3-center w3-light-grey w3-padding-32">
  <p><img src= "/static/logo.png" style = "max-width: 30px">Powered by w3.css, Python, Flask, and YelpAPI.</a></p>
</footer>

</body>
</html>
