<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title></title>
  <meta name="author" content="">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- <link href="css/normalize.css" rel="stylesheet">
  <link href="css/style.css" rel="stylesheet"> -->
</head>

<body>

  <p><img src="image.jpg" alt = "the image is not found">Restaurantize</p>
<form action="/", method = "post">
  <label for="fname"><img src="static\image.jpg" width = 30px height = 10px></label>
  <input type="text" id="resName" name="resName"><br><br>
  <label for="lname">Restaurant Location:</label>
  <input type="text" id="resLoc" name="resLoc"><br><br>
  <input type="submit" value="Submit">
</form>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
</body>

</html>
