<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Map works! </title>
    </head>
    <body>
      <title>{% block title %}{{title}}{% endblock %}</title>
        <div >{{googlemap("mapper", lat=32.9636, lng=-96.7468, style="height:720px;width:720px;margin:0;display:inline-block;")}}</div>
        <div > <img src = {{image}} style = "text-align: center; width: 200px; height:200px"></div>
        <div><p>{{ipA}} </p> </div>
    </body>
</html>
